.admin-container {
    display: flex;
    .admin-sidebar {
        .pro-sidebar {
            height: 100vh !important;
            }
    }

    .admin-content {
        width: 100%;
        .admin-header {
            height: 40px;
            // border: 1px solid rgb(205, 205, 205);
            background: rgb(246, 242, 242);
           
           
        }
    
        .admin-main {
           
          
           
    
        }

    }
   
}